<h2>Reactivos: </h2> <small>Dinámicos</small>
<hr>

<form autocomplete="off"
      [formGroup]="form"
      (ngSubmit)="save()">

      <!-- Name -->
    <div class="mb-3 row">

        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text"
                   formControlName="name"
                   class="form-control">
            <span class="form-text text-danger"
                         *ngIf="invalidField('name')"> 
                       Campo obligatorio.
            </span> 
        </div>
    </div>

    <!-- Agregar juego -->
    <div class="mb-3 row">

        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text" 
                       class="form-control"
                       [formControl]="newFav"
                       placeholder="Agregar favorito"
                       (keyup.enter)="addFav()">

                       <button class="btn btn-outline-primary"
                               type="button"
                               (click)="addFav()">
                            Agregar
                        </button>
            </div>
        </div>

    </div>

      <!-- Listado de juegos favoritos -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" 
             formArrayName = "favs">
            <div class="row">
                <div class="input-group mb-1" 
                     *ngFor="let fav of favsArray.controls; let i = index">
                    <input class="form-control"
                           [formControlName]="i">

                    <button type="button" 
                            class="btn btn-outline-danger"
                            (click)="removeFav(i)">
                        <strong>-</strong>
                    </button>         
        
                  </div>
                  
                  <!-- 
                <input  *ngFor="let fav of person.favs; let i = index"
                        name="juego_{{i}}"
                        [ngModel]="fav.name"
                        class="form-conrol mb-1"> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    class="btn btn-primary float-end"
                    (click)="save()">
                Guardar
            </button>
        </div>
    </div>

</form>

<span>Valid</span>
<pre> {{ form.valid }}</pre>

<span>Value</span>
<pre> {{ form.value | json }}</pre>

<span>Fav</span>
<pre> Valid: {{ newFav.valid }}</pre>
<pre> Value: {{ newFav.value }}</pre>

<span>Persona</span>
<pre>  </pre>